<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="${base_url}/govuk-frontend.min.css?v${version_tag}">
  <link rel="manifest" href="${base_url}/assets/manifest.json">
  <title>${title}</title>
  <style>
.govuk-tag {
      width: 2.6rem;
      height: 2.6rem;
      display: inline-block;
      text-align: center;
      line-height: 2.6rem;
      padding: 0;
      margin-left: 0.4rem;
      font-family: monospace;
      color: white;
      font-weight: bold;
      border-radius: 50%;
      font-size: 0rem;
      background: white;
      border: 0.255rem solid white;
      position: relative;
    }

    .govuk-table {
      opacity: 0.2;
      transition: opacity 1s;
    }

    .govuk-table__header {
      vertical-align: middle;
    }

    .good {
      border-color: #00703c;
    }

    .good::after {
      position: absolute;
      top: 45%;
      left: 50%;
      content: "";
      display: inline-block;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      height: 1.2rem;
      width: 0.6rem;
      border-bottom: 0.35rem solid #00703c;
      border-right: 0.35rem solid #00703c;
    }

    .bad {
      border-color: #d4351c;
      color: #d4351c
    }

    .bad::after {
      content: "\00d7"; /* This will render the 'X' */
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      text-align: center;
      width: 2.6rem;
      height: 2.6rem;
      font-size: 3rem;
    }
  </style>
</head>
<body class="govuk-template__body">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <h1 class="govuk-heading-xl">RSD Service Status</h1>
          <p class="govuk-body">This webapp will display the latest uptime results for services hosted in RSD and will auto-refresh every <span id="waitTime">0</span> minutes</p>
          <div id="waitContainer" class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              <span id="wait">Loading new data. Please wait...</span>
              <span id="lastModifiedTime"></span>
            </strong>
          </div>
          <table class="govuk-table" id="resultTable">
            <caption class="govuk-table__caption govuk-table__caption--s">Services</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Last 3 tests</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body" id="resultBody"></tbody>
          </table>
        </div>
      </div>
    </main>
  </div>

  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
  <script type="module" src="${base_url}/assets/javascripts/govuk-frontend.min.js?v=${version_tag}"></script>
  <script type="module">
    import { initAll } from '${base_url}/assets/javascripts/govuk-frontend.min.js?v=${version_tag}'
    initAll()
  </script>
  <script src="${base_url}/assets/javascripts/app.js?v=${version_tag}"></script>
</body>
</html>
